{% load static %} {% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- required meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="{% static '' %}" />

    <!-- title -->
    <title>TaniaTech Job Portal</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.png" />

    <!-- css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/all-fontawesome.min.css" />
    <link rel="stylesheet" href="assets/css/feather.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/nice-select.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <!-- preloader -->
    <div class="preloader">
      <div class="loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- preloader end -->

    <!-- header area -->
    <header class="header">
      <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
          <div
            class="container d-flex justify-content-between align-items-center"
          >
            <!-- Logo -->
            <a
              class="navbar-brand"
              href="/"
              style="
                margin: 0;
                padding: 0;
                display: inline-block;
                line-height: 0;
              "
            >
              <img
                src="assets/img/logo/logo.png"
                alt="logo"
                style="
                  display: block;
                  margin: 0;
                  padding: 0;
                  height: 70px;
                  width: auto;
                "
              />
            </a>

            <!-- Mobile menu button (only visible on mobile) -->
            <div class="mobile-menu-right d-lg-none">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#main_nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-btn-icon">
                  <i class="far fa-bars"></i>
                </span>
              </button>
            </div>

            <!-- Navbar links -->
            <div
              class="collapse navbar-collapse justify-content-end align-items-center gap-3"
              id="main_nav"
            >
              <ul class="navbar-nav d-flex gap-3">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/jobs">Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cvs">Get your CV</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>

              <!-- Sign In -->
              <div class="header-nav-right ms-3">
                <div class="header-btn">
                  <a href="/login" class="theme-btn theme-btn2">
                    <span class="far fa-sign-in"></span> Sign In
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- header area end -->

    <main class="main">
      <!-- hero area -->
      <div class="hero-section">
        <div class="hero-single">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-7 col-xl-6">
                <div class="hero-content">
                  <h6 class="hero-sub-title">We Have Live Jobs</h6>
                  <h1 class="hero-title">
                    Find The <span>Job Easiest</span> Way That Fits Your Life
                  </h1>
                  <p>
                    At TaniaTech Talent Portal, we make it easier for Zimbabwean
                    job seekers to find meaningful work and for employers to
                    connect with qualified candidates. Whether you need a
                    professionally crafted CV or the latest job opportunities,
                    we’re here to help you grow.
                  </p>
                </div>
              </div>
              <div class="col-lg-5 col-xl-6">
                
                <div class="hero-right">
                  <div class="hero-img">
                    <img src="assets/img/hero/hero-2.png" alt="" />
                    <div class="hero-img-shape">
                      <img src="assets/img/shape/02.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hero-shape">
            <img class="hero-shape-1" src="assets/img/shape/03.svg" alt="" />
            <img class="hero-shape-2" src="assets/img/shape/05.svg" alt="" />
            <img class="hero-shape-3" src="assets/img/shape/06.svg" alt="" />
            <img class="hero-shape-4" src="assets/img/shape/07.svg" alt="" />
          </div>
        </div>
      </div>
      <!-- hero area end -->

      <!-- category-area -->
      <div class="category-area py-120">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 mx-auto wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay=".25s"
            >
              <div class="site-heading text-center">
                <span class="site-title-tagline">Our Category</span>
                <h2 class="site-title">Browse By Category</h2>
                <p>Search Your Career Opportunity With Our Categories</p>
              </div>
            </div>
          </div>
          <div class="row">
            {% for cat in categories %}
            <div class="col-md-6 col-lg-4 col-xl-3">
              <a
                href="{% url 'jobs' %}?category={{ cat.id }}"
                class="category-item"
              >
                <div class="category-icon">
                  <i class="{{ cat.icon_class }}"></i>
                </div>
                <div class="category-content">
                  <h6>{{ cat.name }}</h6>
                  <p>{{ cat.job_set.count }} Jobs Available</p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- category-area end -->

      <!-- career-area -->
      <div class="career-area pb-120">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="career-left">
                <div class="career-img">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <img
                        class="career-img-1"
                        src="assets/img/career/01.jpg"
                        alt=""
                      />
                    </div>
                    <div class="col-md-6">
                      <img
                        class="career-img-2"
                        src="assets/img/career/02.jpg"
                        alt=""
                      />
                      <img
                        class="career-img-3"
                        src="assets/img/career/03.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="career-right">
                <div class="site-heading mb-3">
                  <span class="site-title-tagline">Career Tips</span>
                  <h2 class="site-title">
                    Quick Career Tips Help You To Get
                    <span>The Best Job</span> That Fits You
                  </h2>
                </div>
                <p>
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or repeat predefined chunks as
                  necessary repeat predefined chunks as which don't look even.
                </p>
                <div class="career-list">
                  <ul>
                    <li>
                      <i class="far fa-check-circle"></i> Take a look at our
                      round up of the best shows
                    </li>
                    <li>
                      <i class="far fa-check-circle"></i> Standard chunk of used
                      is reproduced below interested
                    </li>
                    <li>
                      <i class="far fa-check-circle"></i> It has roots in a
                      piece of classical literature
                    </li>
                  </ul>
                </div>
                <a href="#" class="theme-btn">Find Your Job</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- career-area end -->

      <!-- job area -->
      <div class="job-area bg py-120">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 mx-auto wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay=".25s"
            >
              <div class="site-heading text-center">
                <span class="site-title-tagline">Recent Jobs</span>
                <h2 class="site-title">Find Your Dream Job</h2>
                <p>Know Your Worth And Find The Job That Qualify Your Life</p>
              </div>
            </div>
          </div>
          <div class="row">
            {% for job in latest_jobs %}
            <div class="col-lg-6 col-xl-4">
              <div class="job-item">
                <a href="#" class="job-bookmark"><i class="fe-bookmark"></i></a>
                <div class="job-top">
                  <div class="job-img">
                    <img src="{% static 'assets/img/job/01.jpg' %}" alt="" />
                  </div>
                  <div class="job-title">
                    <h5><a href="#">{{ job.title }}</a></h5>
                    <a href="#" class="job-employer">
                      <i class="far fa-building"></i> {{ job.organization.name }}
                      
                    </a>
                  </div>
                </div>
                <div class="job-content">
                  <ul class="job-info-list">
                    <li>
                      <i class="fe-briefcase"></i> {{ job.category.name }}
                    </li>
                    <li>
                      <i class="fe-check-circle"></i> {{ job.job_type.name }}
                    </li>
                    <li>
                      <i class="fe-clock"></i> {{ job.created_at|timesince }}
                      ago
                    </li>
                    <li><i class="fe-map-pin"></i> {{ job.city.name }}</li>
                  </ul>
                  <div class="job-skill">
                    {% for skill in job.skills_list %}
                    <a href="#">{{ skill }}</a>
                    {% endfor %}
                  </div>
                </div>
                <div class="job-bottom">
                  <div class="job-salary">
                    <span class="job-salary-amount"
                      >${{ job.offered_salary }}</span
                    >
                    <span class="job-salary-type">/Month</span>
                  </div>
                  <a href="#" class="theme-btn">Apply Now</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- job area end -->

      <!-- process-area -->
      <div class="process-area py-120">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 mx-auto wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay=".25s"
            >
              <div class="site-heading text-center">
                <span class="site-title-tagline">Process</span>
                <h2 class="site-title">How It Works</h2>
                <p>Find The Type Of Work You Need And Ready To Start</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="process-item">
                <span class="process-count">01</span>
                <div class="process-icon">
                  <i class="fal fa-sign-in"></i>
                </div>
                <div class="process-content">
                  <h5>Sign Up Account</h5>
                  <p>
                    It is a long established fact that the reader will be
                    distracted readable.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="process-item">
                <span class="process-count">02</span>
                <div class="process-icon">
                  <i class="fal fa-file-user"></i>
                </div>
                <div class="process-content">
                  <h5>Upload Your Resume</h5>
                  <p>
                    It is a long established fact that the reader will be
                    distracted readable.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="process-item">
                <span class="process-count">03</span>
                <div class="process-icon">
                  <i class="fal fa-search"></i>
                </div>
                <div class="process-content">
                  <h5>Search Your Job</h5>
                  <p>
                    It is a long established fact that the reader will be
                    distracted readable.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div class="process-item">
                <span class="process-count">04</span>
                <div class="process-icon">
                  <i class="fal fa-briefcase"></i>
                </div>
                <div class="process-content">
                  <h5>Apply For Job</h5>
                  <p>
                    It is a long established fact that the reader will be
                    distracted readable.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- process-area end -->

      <!-- blog-area -->
      <div class="blog-area">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-6 mx-auto wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay=".25s"
            >
              <div class="site-heading text-center">
                <span class="site-title-tagline">Our Blog</span>
                <h2 class="site-title">Latest News & Blog</h2>
                <p>Fresh Job Related News And Tips Content Posted Each Day</p>
              </div>
            </div>
          </div>
          <div class="row">
            {% for article in latest_news %}
            <div class="col-md-6 col-lg-4">
              <div class="blog-item">
                <div class="blog-item-img">
                  <img
                    src="{{ article.featured_image.url }}"
                    alt="{{ article.title }}"
                  />
                </div>
                <div class="blog-item-info">
                  <h5 class="blog-title">
                    <a href="{% url 'news_detail' article.slug %}"
                      >{{ article.title }}</a
                    >
                  </h5>
                  <div class="blog-item-meta">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="far fa-user-circle"></i> By
                          {{ article.author }}</a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="far fa-calendar-alt"></i>
                          {{article.published_date|date:"F j, Y" }}</a
                        >
                      </li>
                    </ul>
                  </div>
                  <p>{{ article.summary|truncatewords:20 }}</p>
                  <a
                    href="{% url 'news_detail' article.slug %}"
                    class="theme-btn"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- blog-area end -->
    </main>

    <!-- footer area -->
    <footer class="footer-area">
      <div class="footer-widget">
        <div class="container">
          <div class="row footer-widget-wrapper pt-100 pb-70">
            <div class="col-md-6 col-lg-6 col-xl-4">
              <div class="footer-widget-box about-us">
                <a href="#" class="footer-logo">
                  <img src="assets/img/logo/logo.png" alt="" />
                </a>
                <p class="mb-4">
                  We are many variations of passages available but the majority
                  have suffered alteration in some form by injected.
                </p>
                <ul class="footer-contact">
                  <li>
                    <a href="tel:{{ contact_info.phone_primary }}"
                      ><i class="far fa-phone"></i>
                     {{contact_info.phone_primary }}</a
                    >
                  </li>
                  <li>
                    <i class="far fa-map-marker-alt"></i>
                    {{ contact_info.address }}
                  </li>
                  <li>
                    <a href="mailto:{{ contact_info.email_primary }}"
                      ><i class="far fa-envelope"></i>
                      {{contact_info.email_primary }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
              <div class="footer-widget-box list">
                <h4 class="footer-widget-title">Company</h4>
                <ul class="footer-list">
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/plan">Pricing Plan</a></li>
                  <li><a href="/sitemap">Site Map</a></li>
                  <li><a href="/scenter">Security Center</a></li>
                  <li><a href="/team">Our Team</a></li>
                  <li><a href="/news">Latest Blog</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
              <div class="footer-widget-box list">
                <h4 class="footer-widget-title">Support</h4>
                <ul class="footer-list">
                  <li><a href="/contact">Contact Us</a></li>
                  <li><a href="/faq">Faq's</a></li>
                  <li><a href="/policy">Privacy Policy</a></li>
                  <li><a href="/tos">Terms Of Service</a></li>
                  <li><a href="/guide">Need Help</a></li>
                  <li><a href="/chat">Live Chat</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 align-self-center">
              <p class="copyright-text">
                &copy; Copyright <span id="date"></span>
                <a href="taniatech.com"> TaniaTech </a> All Rights Reserved.
              </p>
            </div>
            <div class="col-md-6 align-self-center">
              <ul class="footer-social">
                {% if contact_info.facebook %}
                <li>
                  <a href="{{ contact_info.facebook }}"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                {% endif %} {% if contact_info.twitter %}
                <li>
                  <a href="{{ contact_info.twitter }}"
                    ><i class="fab fa-x-twitter"></i
                  ></a>
                </li>
                {% endif %} {% if contact_info.linkedin %}
                <li>
                  <a href="{{ contact_info.linkedin }}"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                {% endif %} {% if contact_info.youtube %}
                <li>
                  <a href="{{ contact_info.youtube }}"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer area end -->

    <!-- scroll-top -->
    <a href="#" id="scroll-top"><i class="far fa-angle-up"></i></a>
    <!-- scroll-top end -->

    <!-- js -->
    <script
      data-cfasync="false"
      src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/counter-up.js"></script>
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/nice-select.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>

  <!-- Mirrored from live.themewild.com/jobox/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Jul 2025 05:56:47 GMT -->
</html>
